///********************///
///*     Path       *///
///********************///
$path-proj-img : '/workspace_naver/project/src/imgs';


///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$color1: #00c73c;
$color2: #888;
$color3: #ebeef3;
$color4: #00ab33;
$color5: #f1f3f6;
$color6: #f2f4f7;